<h1>Instagram</h1>

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<% @blogs.each do |blog| %>
  <%= blog.content %>
  <% if blog.image? %>
    <%= image_tag blog.image.url %>
  <% end %>
  <%= link_to "編集", edit_blog_path(blog.id) %>
  <%= link_to "削除する",blog_path(blog.id),method: :delete,data:{confirm:'消せたのだ！'} %>
<% end %>

<%= link_to "新規投稿",new_blog_path %>
